# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Environment variables
.env
.env.*

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Distribution / packaging
build/
dist/
*.egg-info/

# PyTest cache
.pytest_cache/

# Logs
*.log

# macOS
.DS_Store
